.flows_DESKTOP-CQC9G6N.json.backup
[{"id":"33765b81f33f928f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"3ed07f761c601867","type":"template","z":"33765b81f33f928f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IT WORKS!!","output":"str","x":380,"y":500,"wires":[["9f4c0936b583a8cd"]]},{"id":"fc11598afce3d209","type":"http in","z":"33765b81f33f928f","name":"","url":"test","method":"get","upload":false,"swaggerDoc":"","x":150,"y":500,"wires":[["3ed07f761c601867"]]},{"id":"9f4c0936b583a8cd","type":"http response","z":"33765b81f33f928f","name":"","statusCode":"","headers":{},"x":590,"y":500,"wires":[]}]