flows_DESKTOP-CQC9G6N.json
[{"id":"33765b81f33f928f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"3ed07f761c601867","type":"template","z":"33765b81f33f928f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IT WORKS!!","output":"str","x":340,"y":60,"wires":[["9f4c0936b583a8cd"]]},{"id":"fc11598afce3d209","type":"http in","z":"33765b81f33f928f","name":"","url":"test","method":"get","upload":false,"swaggerDoc":"","x":110,"y":60,"wires":[["3ed07f761c601867"]]},{"id":"9f4c0936b583a8cd","type":"http response","z":"33765b81f33f928f","name":"","statusCode":"","headers":{},"x":550,"y":60,"wires":[]}]