flows.json
[{"id":"33765b81f33f928f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"6ed80a6bc2f7babc","type":"group","z":"33765b81f33f928f","name":"Set a json for Nav config","style":{"stroke":"#0070c0","fill":"#bfdbef","fill-opacity":"0.65","label":true},"nodes":["56dd6d93.394934"],"x":194,"y":19,"w":161,"h":82},{"id":"298185ae07ac15cf","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"789f3ea5c81ced9d","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"3ed07f761c601867","type":"template","z":"33765b81f33f928f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IT WORKS!!","output":"str","x":340,"y":660,"wires":[["9f4c0936b583a8cd"]]},{"id":"fc11598afce3d209","type":"http in","z":"33765b81f33f928f","name":"","url":"test","method":"get","upload":false,"swaggerDoc":"","x":110,"y":660,"wires":[["3ed07f761c601867"]]},{"id":"9f4c0936b583a8cd","type":"http response","z":"33765b81f33f928f","name":"","statusCode":"","headers":{},"x":550,"y":660,"wires":[]},{"id":"99b15111.d2eb9","type":"http in","z":"33765b81f33f928f","name":"","url":"/main","method":"get","upload":false,"swaggerDoc":"","x":90,"y":60,"wires":[["56dd6d93.394934"]]},{"id":"19ac2d58.fdcdf3","type":"function","z":"33765b81f33f928f","name":"","func":"msg.count = 0\nfunction RecursiveMenu(arr){\n   \n    //to do some recursively, call this function again on a loop\n    var string=\"\"\n    for(var i=0;i<arr.length;i++){\n         msg.count+=1\n        //to do some recursively, call this function again\n        if(arr[i].children &&arr[i].children.length > 0 ){\n           string = string.concat(\n                '<button class=\"dropdown-btn\"> ',\n                    arr[i].name,\n                  '<i class=\"fa fa-caret-down\"></i>',\n                '</button>',\n                '<div class=\"dropdown-container\">',\n                    RecursiveMenu(arr[i].children),\n                '</div>'\n              )\n        }\n        else{\n            if(arr[i].iframe === true){\n                string = string.concat(\"<a onClick=\\\"CreateIframeOnMain('\"+arr[i].link+\"','\"+arr[i].name+\"')\\\">\"+arr[i].name+\"</a>\" )\n            }\n            else{\n                string = string.concat(\"<a href='\"+arr[i].link+\"'>\"+arr[i].name+\"</a>\" )\n            }\n           \n        }\n        // node.warn([i,string])\n    }\n    return string\n}\n\nmsg.menu = RecursiveMenu(msg.menu)\nreturn msg","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":60,"wires":[["32f6e60f.659d2a"]]},{"id":"32f6e60f.659d2a","type":"template","z":"33765b81f33f928f","name":"container","field":"container","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n    <div class=\"theme_dark\" height=\"43px\">\n      <button class=\"openbtn\" onclick=\"toogleClick()\">&#9776; </button>\n      <span class=\"menu_tittle\"> HOME </span>\n    </div>\n</div>\n\n\n    \n   ","output":"str","x":650,"y":60,"wires":[["55ba08fe.6bf208"]]},{"id":"55ba08fe.6bf208","type":"template","z":"33765b81f33f928f","name":"Last Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<title>NXITO</title>\n<link rel=\"shortcut icon\" href=\"/logos/NX (1).png\" />\n <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js\"> </script>\n<div id=\"main\">\n\n {{{container}}}\n</div>\n<div class=\"sidebar\" id=\"sidebar\">\n      <img src =\"/images/NXitoNEW%20RED.svg\" width=\"200px\" height=\"auto\">\n      {{{menu}}}\n</div>\n  \n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>/* The sidebar menu */\nbody{\ndisplay: contents;}\n.theme_dark{\n    background-color: #111; /* Black*/\n    color:white;\n}\n.sidebar {\n  height: -webkit-fill-available; /* 100% Full-height */\n  width: 0; /* 0 width - change this with JavaScript */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Stay on top */\n  top: 0;\n  left: 0;\n  background-color: #111; /* Black*/\n  overflow-x: hidden; /* Disable horizontal scroll */\n  /*padding-top: 60px; */\n  padding-bottom: 60px;\n  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */\n\n}\n/* Style the sidebar links and the dropdown button */\n.dropdown-btn {\n  padding: 6px 8px 6px 16px;\n  text-decoration: none;\n  font-size: 20px;\n  color: #818181;\n  display: block;\n  border: none;\n  background: none;\n  width:100%;\n  text-align: left;\n  cursor: pointer;\n  outline: none;\n}\n\n/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */\n.dropdown-container {\n  display: none;\n  background-color: #262626;\n  padding-left: 8px;\n}\n\n/* Optional: Style the caret down icon */\n.fa-caret-down {\n  float: right;\n  padding-right: 8px;\n}\n\n/* Add an active class to the active dropdown button */\n.active {\n  background-color: #ac000060;\n  color: white;\n}\n\n/* The sidebar links */\n.sidebar a {\n  padding: 8px 8px 8px 16px;\n  text-decoration: none;\n  font-size: 25px;\n  color: #818181;\n  display: block;\n  transition: 0.3s;\n}\n\n/* When you mouse over the navigation links, change their color */\n.sidebar a:hover, .dropdown-btn:hover {\n  color: #f1f1f1;\n}\n\n/* Position and style the close button (top right corner) */\n.sidebar .closebtn {\n  position: absolute;\n  top: 0;\n  right: 25px;\n  font-size: 36px;\n  margin-left: 50px;\n}\n\n/* The button used to open the sidebar */\n.openbtn {\n  font-size: 20px;\n  cursor: pointer;\n  background-color: #111;\n  color: white;\n  padding: 10px 15px;\n  border: none;\n}\n\n.openbtn:hover {\n  background-color: #444;\n}\n.main_iframe{\n    width: -webkit-fill-available;\n    height: calc(100% - 43px); \n    /*transition: margin-left .5s;*/\n}\n/* Style page content - use this if you want to push the page content to the right when you open the side navigation */\n#main {\n  transition: margin-left .5s; /* If you want a transition effect */\n  /*padding: 20px;*/\n}\n\n/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */\n@media screen and (max-height: 450px) {\n  .sidebar {padding-top: 15px;}\n  .sidebar a {font-size: 18px;}\n}\n</style>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = $(\".dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  $(this).find(\".fa-caret-down\").toggleClass('fa-caret-left')\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n\n</script>\n<script>\n//se crea una funcion  para que el boton active y desactive el menu\nvar menuIsOpen = false\nfunction toogleClick(){\n    if(menuIsOpen===true){\n        $(\".openbtn\").text(\"☰ \")\n        closeNav()\n        \n    }else{\n         $(\".openbtn\").text(\"x\")\n        openNav()\n        \n    } \n    console.log(\"click\",menuIsOpen)\n}\n\n\nfunction openNav() {\n    menuIsOpen =true\n    $(\"#sidebar\").width(\"250px\");\n    $(\"#main\").css({marginLeft:'250px'})\n}\n\nfunction closeNav() {\n    menuIsOpen = false\n    $(\"#sidebar\").width(\"0\");\n    $(\"#main\").css({marginLeft:'0'})\n   \n}\n//se crea la funcion para que aparezca el iframe con el botón del menu\nfunction CreateIframeOnMain(link,name){\n    console.log(\"link\",link)\n    console.log(\"name\",name)\n    closeNav()\n    $(\"#main\").html(\n        $(' <div class=\"theme_dark\"> '+\n        ' <button class=\"openbtn\" onclick=\"toogleClick()\">&#9776; </button>'+\n        '<span class=\"menu_tittle\"> '+name+' </span>'+\n        '</div> <object class=\"main_iframe\" data =\"'+link+'\"/>')//.attr('src', link)\n        )\n}\n\n(function() {\nlet  sidebar = document.getElementById(\"sidebar\");\nsidebar.getElementsByTagName(\"a\")[0].click()\n})();\n\n</script>\n","output":"str","x":870,"y":60,"wires":[["42ad504c.806cc"]]},{"id":"42ad504c.806cc","type":"http response","z":"33765b81f33f928f","name":"","statusCode":"","headers":{},"x":1060,"y":60,"wires":[]},{"id":"56dd6d93.394934","type":"function","z":"33765b81f33f928f","g":"6ed80a6bc2f7babc","name":"JSON","func":"msg.menu =[  \n    // {\n    //     \"name\": \"main menu\",\n    //     \"link\": \"/pages/presentation/index.html\",\n    //     \"iframe\":true,\n    //     \"children\": []\n    // },\n\n    {\n        \"name\": \"Principal\",\n        \"link\": \"/\",\n        \"iframe\": true,\n        \"children\": []\n    },\n    {\n        \"name\": \"DashBoard\",\n        \"link\": \"/api/ui\",\n        \"iframe\": true,\n        \"children\": []\n    },\n    {\n        \"name\": \"Contacto\",\n        \"link\": \"/api/contact\",\n        \"iframe\": true,\n        \"children\": []\n    },\n\n    {\n        \"name\": \"display_music\",\n        \"link\": \"/api/display_music\",\n        \"iframe\": true,\n        \"children\": []\n    },\n    {\n        \"name\": \"Main\",\n        \"link\": \"/api/presentation\",\n        \"iframe\": true,\n        \"children\": []\n    },\n       \n    // {\n    //     \"name\": \"Mi Música\",\n    //     \"link\": \"#1\",\n    //     \"children\": global.get(\"musicDir\")\n        \n    // },\n        \n     \n    // {\n    //     \"name\": \"Ver ip de acceso\",\n    //     \"link\": \"/nodeip\",\n    //     \"iframe\":true,\n    //     \"children\": []\n    // }\n \n]\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":60,"wires":[["19ac2d58.fdcdf3"]]},{"id":"0c49b5c4d8c97b4f","type":"template","z":"33765b81f33f928f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Tarjeta de Presentación</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f0f0f0;\n            margin: 0;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n        }\n\n        .card {\n            max-width: 400px;\n            background-color: #fff;\n            border-radius: 10px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n            overflow: hidden;\n            display: flex;\n            flex-direction: column;\n        }\n\n        .avatar {\n            width: 100%;\n            height: 150px;\n            background-image: url('ruta_del_avatar.jpg');\n            background-size: cover;\n        }\n\n        .info {\n            padding: 20px;\n            text-align: center;\n        }\n\n        h1 {\n            font-size: 24px;\n            margin-bottom: 10px;\n        }\n\n        p {\n            font-size: 16px;\n            color: #555;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"card\">\n        <div class=\"avatar\"></div>\n        <div class=\"info\">\n            <h1>Nombre</h1>\n            <p>Sobre mí: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>\n            <p>Habilidades: HTML, CSS, JavaScript</p>\n            <p>Contacto: <a href=\"mailto:correo@ejemplo.com\">correo@ejemplo.com</a></p>\n        </div>\n    </div>\n</body>\n</html>\n","output":"str","x":340,"y":340,"wires":[["87f5f6f9c4494574"]]},{"id":"689e58a5a954b410","type":"http in","z":"33765b81f33f928f","name":"","url":"presentation","method":"get","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["0c49b5c4d8c97b4f"]]},{"id":"87f5f6f9c4494574","type":"http response","z":"33765b81f33f928f","name":"","statusCode":"","headers":{},"x":690,"y":340,"wires":[]},{"id":"3958fe52704a0598","type":"template","z":"33765b81f33f928f","name":"body","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<body>\n    <div class=\"card\">\n        <div class=\"avatar\"></div>\n        <div class=\"info\">\n            <h1>Anxo Vilar Beiras</h1>\n            <p>Sobre mí: Desarrollador FullStack </p>\n            <p>Habilidades:  JavaScript, NodeJS, Go, Svelte, Node-Red</p>\n            <p>Contacto: <a href=\"anxo97vb@gmail.com\">anxo97vb@gmail.com</a></p>\n        </div>\n    </div>\n\n    \n</body>\n ","output":"str","x":330,"y":580,"wires":[["8f770f15fb04af5c"]]},{"id":"c0dbcd1225aa3ea4","type":"http in","z":"33765b81f33f928f","name":"","url":"contact","method":"get","upload":false,"swaggerDoc":"","x":100,"y":560,"wires":[["3958fe52704a0598","b2a7e3b17762e5fe"]]},{"id":"4e07639cd828795a","type":"http response","z":"33765b81f33f928f","name":"","statusCode":"","headers":{},"x":690,"y":560,"wires":[]},{"id":"8f770f15fb04af5c","type":"join","z":"33765b81f33f928f","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":" 2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":560,"wires":[["4e07639cd828795a","9a628b90a518abfa"]]},{"id":"b2a7e3b17762e5fe","type":"template","z":"33765b81f33f928f","name":"head","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" \n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Tarjeta de Presentación</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f0f0f0;\n            margin: 0;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n        }\n\n        .card {\n            max-width: 400px;\n            background-color: #fff;\n            border-radius: 10px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n            overflow: hidden;\n            display: flex;\n            flex-direction: column;\n        }\n\n        .avatar {\n            width: 100%;\n            height: 150px;\n            background-image: url('ruta_del_avatar.jpg');\n            background-size: cover;\n        }\n\n        .info {\n            padding: 20px;\n            text-align: center;\n        }\n\n        h1 {\n            font-size: 24px;\n            margin-bottom: 10px;\n        }\n\n        p {\n            font-size: 16px;\n            color: #555;\n        }\n    </style>\n</head>\n","output":"str","x":330,"y":520,"wires":[["8f770f15fb04af5c"]]},{"id":"9a628b90a518abfa","type":"debug","z":"33765b81f33f928f","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":520,"wires":[]},{"id":"4df82d8964b2f039","type":"http in","z":"33765b81f33f928f","name":"","url":"display_music","method":"get","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["89aed37e6a88f27e"]]},{"id":"16cda53f13b369d1","type":"http response","z":"33765b81f33f928f","name":"","statusCode":"","headers":{},"x":660,"y":420,"wires":[]},{"id":"89aed37e6a88f27e","type":"function","z":"33765b81f33f928f","name":"","func":"if(!msg.payload || !msg.payload.path  ){\n    msg.payload={\n        path:\" /music/nocopys/Alan Walker - Dreamer [NCS Release].mp3\"\n    }\n} \n \nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":420,"wires":[["417c5e9ddd44c774"]]},{"id":"417c5e9ddd44c774","type":"template","z":"33765b81f33f928f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" \n   \n    <!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Document</title>\n<script src=\"/scripts/wave.js\"></script>\n\n \n\n \n</head>\n\n<body>\n    <div id=\"container\">\n        <canvas height=\"200\" width=\"200\"  ></canvas>\n \n        <audio id=\"audioElmId\" src =\"{{{payload.path}}}\" preload=\"auto\" tabindex=\"0\" type=\"audio/mp3\" controls=\"controls\" controlsList='nodownload'  style=\"position: fixed;bottom: 15%;\"></audio>\n        <img id=\"imgElmId\" src=\"/images/NXito Big.png\"/>\n    </div>\n    <script>\n        let canvas = document.querySelector(\"canvas\");\n        let audio = document.querySelector(\"audio\");\n        let wave = new Wave(audio, canvas);\n\n        canvas.height = window.innerHeight - 30;\n        canvas.width = window.innerWidth - 30;\n        \n\n\n        // wave.addAnimation(new wave.animations.Square(\n        //     {\n        //      fillColor: {gradient: [\"red\",\"black\",\"red\"], rotate: 45},\n        //      frequencyBand:\"base\",//\"lows\",\n        //     lineWidth: 2,\n        //     lineColor: \"red\",\n        //     count: 6,\n        //      }));\n      wave.addAnimation(new wave.animations.Glob({\n            fillColor: {gradient: [\"red\",\"black\",\"red\"], rotate: 45},\n            // fillColor: {\"image\": '/logos/NXito Big.png'}\n            frequencyBand:\"base\",//\"lows\",\n            lineWidth: 2,\n            lineColor: \"red\",\n            count: 80,\n            mirroredX:true,\n        }));\n\n        wave.addAnimation(new wave.animations.Glob({\n            // fillColor: {gradient: [\"red\",\"blue\",\"red\"], rotate: 45},\n            fillColor:  \"#00000000\",\n            frequencyBand:\"mids\",\n            //  frequencyBand:\"base\",\n            lineWidth: 5,\n            lineColor: \"#fff\",\n            mirroredX:true,\n            count: 80\n        }));\n          wave.addAnimation(new wave.animations.Glob({\n            fillColor: {gradient: [\"red\",\"black\",\"black\"], rotate: 45},\n            // fillColor: {\"image\": '/logos/NXito Big.png'}\n            frequencyBand:\"highs\",\n            lineWidth: 2,\n            lineColor: \"red\",\n            // mirroredX:true,\n\n        }));\n           \n \n    </script>\n</body>\n<style>\n            html,\n        body {\n            margin: 0;\n            padding: 0;\n        }\nbody{\n    background:black;\n}\n#container{\n     width: 100%;\n     height:100%;\n     display:flex;\n     justify-content: center;\n}\n    #imgElmId{position: absolute;\n    width: 290px;\n    align-self: center;}\n\n    audio::-webkit-media-controls-panel {\n    background: #000000bd;\n}\n</style>\n","output":"str","x":490,"y":420,"wires":[["16cda53f13b369d1"]]}]