flows.json
[{"id":"33765b81f33f928f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"2e387e02.e724b2","type":"tab","label":"WEB: Music Visualizer","disabled":false,"info":""},{"id":"442f82fa.b1dd6c","type":"subflow","name":"Folder Reader","info":"\n# Inputs\nIf a msg.path or a msg.recursive is sent, the msg will be used.\notherwise the node options will be used\n## path\nmsg.path or the path option assigns the directory to read\n## recursive\nmsg.recursive or the recursive option will indicate if a search should also be made in the folders that are found. If false, only the files in the specified folder are obtained\n## result\nAs a result, an array with the stats of all the files is obtained\n\n# (i) This node needs FS \n(is assigned on Funcion \"Read Folder\", first line, you can change it)\n","category":"","in":[{"x":120,"y":120,"wires":[{"id":"f7d97639.3a3488"}]}],"out":[{"x":700,"y":120,"wires":[{"id":"dc924f08.6c93e","port":0}]}],"env":[{"name":"setFolder","type":"str","value":"","ui":{"icon":"font-awesome/fa-file","label":{"en-US":"Folder"},"type":"input","opts":{"types":["str","env"]}}},{"name":"setRecursive","type":"bool","value":"true","ui":{"icon":"font-awesome/fa-repeat","label":{"en-US":"Recursive"},"type":"input","opts":{"types":["bool"]}}}],"meta":{},"color":"#DDAA99","status":{"x":340,"y":220,"wires":[{"id":"77f85900.d547a8","port":0}]}},{"id":"ed4e75d4.4cfa58","type":"subflow","name":"Static Desk","info":"","category":"","in":[{"x":40,"y":180,"wires":[{"id":"c3e3aff2.f23fd"}]}],"out":[{"x":980,"y":200,"wires":[{"id":"b19f35b9.a94428","port":0},{"id":"5af6395c.42f198","port":0}]}],"env":[{"name":"Si incluye un directorio, lo leerá, pero si no es estático no se podrán acceder a los archivos","type":"str","value":"","ui":{"type":"none"}},{"name":"STATIC","type":"str","value":"","ui":{"label":{"en-US":"Static Folder"}}},{"name":"Si en el directorio de usuario existe ./settings.js, pillará static automaticamente","type":"str","value":"","ui":{"type":"none"}},{"name":"SETTINGS","type":"bool","value":"true","ui":{"label":{"en-US":"Get static automatically"},"type":"checkbox"}}],"meta":{},"color":"#DDAA99","icon":"font-awesome/fa-desktop"},{"id":"6ed80a6bc2f7babc","type":"group","z":"33765b81f33f928f","name":"Set a json for Nav config","style":{"stroke":"#0070c0","fill":"#bfdbef","fill-opacity":"0.65","label":true},"nodes":["56dd6d93.394934"],"x":194,"y":19,"w":161,"h":82},{"id":"298185ae07ac15cf","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f7d97639.3a3488","type":"function","z":"442f82fa.b1dd6c","name":"Read Folder","func":"const fs = global.get('fs');\nvar path = (msg.path)?msg.path:(env.get(\"setFolder\"));\nvar setRecursive = (msg.recursive && typeof msg.recursive === \"boolean\")?  msg.recursive : env.get(\"setRecursive\");\nnode.status({text:\"reading\",fill:\"blue\"})\nfunction getDirectoryRecursive(__dirname) {\n    var files =  fs.readdirSync(__dirname)\n    for(var i=0; i<files.length;i++){\n        var file  = fs.statSync(`${__dirname}/${files[i]}`);\n        file.name = files[i]\n        file.path = `${__dirname}/${files[i]}`\n        file.child = []\n        if(file.isFile()){\n            file.type = \"file\"\n            files[i] = file\n        }\n        else if(file.isDirectory()){\n            file.type = \"directory\"\n            files[i] = file\n             file.child=getDirectoryRecursive(file.path)\n        }\n    }\n     return files\n}\nfunction getDirectory(__dirname) {\n    var files =  fs.readdirSync(__dirname)\n    for(var i=0; i<files.length;i++){\n        var file  = fs.statSync(`${__dirname}/${files[i]}`);\n        file.name = files[i]\n        file.path = `${__dirname}/${files[i]}`\n        if(file.isFile()){\n            file.type = \"file\"\n            files[i] = file\n        }\n        else if(file.isDirectory()){\n            file.type = \"directory\"\n            files[i] = file\n        }\n    }\n     return files\n}\nmsg.payload = (setRecursive)?getDirectoryRecursive(path):getDirectory(path)\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":120,"wires":[["dc924f08.6c93e"]]},{"id":"dc924f08.6c93e","type":"function","z":"442f82fa.b1dd6c","name":"","func":"node.status({text:\"readed\",fill:\"green\"})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":120,"wires":[[]]},{"id":"77f85900.d547a8","type":"status","z":"442f82fa.b1dd6c","name":"","scope":null,"x":180,"y":220,"wires":[[]]},{"id":"73e41fb9.79aa1","type":"template","z":"ed4e75d4.4cfa58","name":"HTML template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <link rel=\"shortcut icon\" href=\"/images/NXito Big.png\" />\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js\"></script>\n    <script src=\"/api/desk/script\"></script>\n</head>\n<body>\n    <div id=\"header\">\n        <div id=\"folder_up\">\n            <button class=\"folder_up-button button-31\"> &lt;- Volver</button>\n        </div>\n    </div>\n    <div id=\"container\"></div>\n    \n    <script>\n    const mainDir =\"{{{payload}}}\"\n    console.log(mainDir)\n    $( document ).ready( function() {\n        console.log(\"ready\");\n        setFolders(mainDir)\n    });\n        \n         \n    </script>\n    <style>\n    body{\n        height:100%;\n        margin : 0;\n        padding: 0;\n    }\n    #container {\n        display: grid;\n        grid-template-columns: 200px 200px 200px;\n        justify-content: space-between;\n        justify-items: start;\n        align-items: center;\n    }\n    .container_item:hover {\n        background: aliceblue;\n    }\n   .container_item span img {\n        width: 50px;\n        opacity: 0.7;\n    }\n    .container_item {\n        white-space: nowrap;\n        overflow: hidden;\n        text-overflow: ellipsis;\n        max-width: 200px;\n        cursor: pointer;\n        display: flex;\n        flex-direction: column;\n        flex-wrap: nowrap;\n        /*align-items: center;*/\n        height: -webkit-fill-available;\n\n    }\n.item_name {\n     font-size: x-large; \n    position: sticky;\n    bottom: 20;\n    margin-left: 40px;\n    white-space: break-spaces;\n\n\n    </style>\n    <style id=\"buttons\">\n/* CSS */\n.button-31 {\n  background-color: #222;\n  border-radius: 4px;\n  border-style: none;\n  box-sizing: border-box;\n  color: #fff;\n  cursor: pointer;\n  display: inline-block;\n  font-family: \"Farfetch Basis\",\"Helvetica Neue\",Arial,sans-serif;\n  font-size: 16px;\n  font-weight: 700;\n  line-height: 1.5;\n  margin: 0;\n  max-width: none;\n  min-height: 44px;\n  min-width: 10px;\n  outline: none;\n  overflow: hidden;\n  padding: 9px 20px 8px;\n  position: relative;\n  text-align: center;\n  text-transform: none;\n  user-select: none;\n  -webkit-user-select: none;\n  touch-action: manipulation;\n}\n\n.button-31:hover,\n.button-31:focus {\n  opacity: .75;\n}\n.selectedItem{\n     background-color: #b3e6ff;\n}\n    </style>\n</body>\n","output":"str","x":660,"y":360,"wires":[["5895c089.f0d6f"]]},{"id":"6fd5676c.c0fb28","type":"http in","z":"ed4e75d4.4cfa58","name":"","url":"/desk","method":"get","upload":false,"swaggerDoc":"","x":100,"y":360,"wires":[["7f38ce91.71acb"]]},{"id":"5895c089.f0d6f","type":"http response","z":"ed4e75d4.4cfa58","name":"","statusCode":"","headers":{},"x":810,"y":360,"wires":[]},{"id":"7f38ce91.71acb","type":"function","z":"ed4e75d4.4cfa58","name":"","func":"msg.payload = global.get(\"mainDir\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":360,"wires":[["73e41fb9.79aa1"]]},{"id":"7760f4a2.2471ec","type":"template","z":"ed4e75d4.4cfa58","name":"template","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"\n// $( document ).ready(function() {\n//     console.log(testPromise())\n    \n// });  \nvar selectedItems = []\nfunction testPromise() {\n    let miPrimeraPromise = new Promise((resolve, reject) => {\n      setTimeout(function(){\n        resolve(\"¡Éxito!\"); // ¡Todo salió bien!\n      }, 250);\n    });\n return miPrimeraPromise\n}\n\n\nasync function readServerFolder(path) {\n     let res =  await fetch(`/api/desk/folder?path=${path}`).catch(function(err){console.error(err)})\n     return res.json()\n}\nasync function readServerFile(path) {\n    //  let res =  await fetch(`/desk/file?path=${path}`).catch(function(err){console.error(err)})\n    //     .then(response => res)\n    //  return res.blob()\n    path = path.replace(/%2F/g,\"/\")\n    path = path.replace(mainDir,\"\")\n    window.open(`${path}`);////app/musicvisualizer?path=\n}\nfunction sortFolders(folders,by){\n    return folders\n    .sort((a, b)=> (by ==\"date\")?(a.ctime < b.ctime ? -1 : 1):(a.name < b.name ? -1 : 1))\n    .sort((a, b)=> a.type < b.type ? -1 : 1)\n\n}\nfunction setFolders(path){\n    (async function(){\n         let folder = await readServerFolder(path);\n         $(\"#container\").empty()\n         folder = sortFolders(folder)\n         for(var i in folder){\n             $(\"#container\").append(\n                `<div \n                id=\"item-index-${i}\" \n                data-name =\"${folder[i].name}\" \n                data-path =\"${folder[i].path}\" \n                data-type =\"${folder[i].type}\" \n                class=\"container_item container_item-${folder[i].type}\">\n                    <span>\n                        ${folder[i].type == \"directory\"?\n                        '<img  src=\"/src/svg/folder-svgrepo-com.svg\" alt=\"Folder\">':\n                        '<img  src=\"'+filetypeSVG(folder[i].name)+'\" alt=\"File\">'\n                        }\n                    </span>\n                    <span class=\"item_name\">${folder[i].name}</span>\n                </div>`\n            )\n         }\n     $(\"body\").on(\"click\",()=>{\n           if ( !event.ctrlKey ) {\n               unselectItems()\n               selectedItems = [  ];\n           }\n     })\n\n     $(\".container_item\").on(\"click\",function(){\n        if ( event.ctrlKey ) {\n            $(this).addClass( \"selectedItem\" );\n            selectedItems.push($(this));\n        } else {\n            $(this).addClass( \"selectedItem\" );\n            unselectItems()\n            selectedItems = [ $(this) ];\n        }\n          \n\n        })\n         \n     $(\".container_item\").on(\"dblclick\",function(){\n         if($(this).data('type') == \"directory\"){\n             let path =encodeURIComponent($(this).data('path'))\n             setFolders(path)\n              $(\".folder_up-button\").on(\"click\",function(){\n                path = path.replace(/%2F/g,\"/\")\n                 if(path != mainDir){\n                    path = path.substring(0, path.lastIndexOf('/'));\n                    setFolders( path )\n                 }\n    \n             })\n\n             \n         }else{\n             console.log(\"is file\")\n             readServerFile( encodeURIComponent($(this).data('path')))\n         }\n        \n        })\n   })()\n   \n}\nfunction unselectItems(){\n        selectedItems.map(e=>{\n        $(e).removeClass( \"selectedItem\" )\n    })\n\n}\nfunction filetypeSVG(filename){\n    var regex = /^([^\\\\]*)\\.(\\w+)$/;\n    var matches = filename.match(regex);\n    var payload =\"\";\n    \n    if (matches) {\n        filename = matches[1];\n        var extension = matches[2];\n    }\n    switch(extension){\n        case (\"txt\"):\n            payload = \"/src/svg/text-folders-svgrepo-com.svg\";\n            break;\n        case (\"mp3\"): case(\"obb\"): case(\"bat\"):\n            payload = \"/src/svg/audio-file-svgrepo-com.svg\";\n            break;\n        case (\"png\"): case(\"jpg\"): case(\"gif\"): case(\"jpeg\"):\n            payload = \"/src/svg/image-svgrepo-com.svg\";\n            break;\n        case (\"webm\"): case(\"mp4\"): case(\"avi\"):\n            payload = \"/src/svg/video-file-svgrepo-com.svg\";\n            break;\n        case (\"zip\"): case(\"7z\"): case(\"rar\"):\n            payload = \"/src/svg/zip-svgrepo-com.svg\";\n            break;\n        case (\"js\"): case(\"bat\"): case(\"html\"): case(\"css\"): case(\"bat\"): case(\"ts\"): case(\"c\"): case(\"cmd\"):\n            payload = \"/src/svg/code-svgrepo-com.svg\";\n            break;\n        default:\n            payload = \"/src/svg/file-svgrepo-com.svg\";\n        \n        \n    }\n    return payload\n}\n\n","output":"str","x":640,"y":420,"wires":[["d8089c43.95558"]]},{"id":"8edebb0d.7e2b58","type":"http in","z":"ed4e75d4.4cfa58","name":"","url":"/desk/script","method":"get","upload":false,"swaggerDoc":"","x":180,"y":420,"wires":[["7760f4a2.2471ec"]]},{"id":"d8089c43.95558","type":"http response","z":"ed4e75d4.4cfa58","name":"","statusCode":"","headers":{},"x":810,"y":420,"wires":[]},{"id":"9dbde60c.a76e18","type":"http in","z":"ed4e75d4.4cfa58","name":"","url":"/desk/folder","method":"get","upload":false,"swaggerDoc":"","x":190,"y":480,"wires":[["440a7575.da36bc","eac2a830d2a97158"]]},{"id":"440a7575.da36bc","type":"function","z":"ed4e75d4.4cfa58","name":"mainDirectoryCheck","func":"const path = global.get(\"path\")\nmsg.path = msg.payload?.path\n\nconst mainDirectory = global.get(\"mainDir\")||\"./public\"\nconst dir = msg.path\nfunction mainDirectoryCheck(parent,dir){\n     const relative = path.relative(parent, dir);\n    const isSubdir = relative && !relative.startsWith('..') && !path.isAbsolute(relative);\n    return (isSubdir||parent == dir)?true:false;\n}\nmsg.check = mainDirectoryCheck(mainDirectory,dir)\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":480,"wires":[["6e572b70.535284","eac2a830d2a97158"]]},{"id":"6e572b70.535284","type":"switch","z":"ed4e75d4.4cfa58","name":"","property":"check","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":480,"wires":[["d54b11fe.576a9"],["66e341bc.9769e"]]},{"id":"d54b11fe.576a9","type":"subflow:442f82fa.b1dd6c","z":"ed4e75d4.4cfa58","name":"","env":[{"name":"setRecursive","value":"false","type":"bool"}],"x":760,"y":460,"wires":[["41a5bfe4.d9c71"]]},{"id":"66e341bc.9769e","type":"http response","z":"ed4e75d4.4cfa58","name":"","statusCode":"401","headers":{},"x":940,"y":500,"wires":[]},{"id":"41a5bfe4.d9c71","type":"http response","z":"ed4e75d4.4cfa58","name":"","statusCode":"","headers":{},"x":930,"y":460,"wires":[]},{"id":"ceaef1d4.01898","type":"http in","z":"ed4e75d4.4cfa58","name":"","url":"/desk/file","method":"get","upload":false,"swaggerDoc":"","x":170,"y":540,"wires":[["cf6ed3f5.7c766"]]},{"id":"cf6ed3f5.7c766","type":"function","z":"ed4e75d4.4cfa58","name":"","func":"const path = global.get(\"path\")\nmsg.filename = msg.payload?.path\n\nconst mainDirectory = global.get(\"mainDir\")\nconst dir = msg.filename\nfunction mainDirectoryCheck(parent,dir){\n     const relative = path.relative(parent, dir);\n    const isSubdir = relative && !relative.startsWith('..') && !path.isAbsolute(relative);\n    return (isSubdir||parent == dir)?true:false;\n}\nmsg.check = mainDirectoryCheck(mainDirectory,dir)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":540,"wires":[["d0cd9f6c.b49c4"]]},{"id":"49b44185.392e4","type":"http response","z":"ed4e75d4.4cfa58","name":"","statusCode":"","headers":{},"x":930,"y":540,"wires":[]},{"id":"2f3b5954.93d556","type":"file in","z":"ed4e75d4.4cfa58","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":670,"y":520,"wires":[["49b44185.392e4"]]},{"id":"d0cd9f6c.b49c4","type":"switch","z":"ed4e75d4.4cfa58","name":"","property":"check","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":540,"wires":[["2f3b5954.93d556"],["a15ecabd.af87c8"]]},{"id":"a15ecabd.af87c8","type":"http response","z":"ed4e75d4.4cfa58","name":"","statusCode":"401","headers":{},"x":940,"y":580,"wires":[]},{"id":"8b2796fe.f46e68","type":"file in","z":"ed4e75d4.4cfa58","name":"","filename":"./settings.js","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":590,"y":140,"wires":[["b19f35b9.a94428"]]},{"id":"b19f35b9.a94428","type":"function","z":"ed4e75d4.4cfa58","name":"","func":"// @ts-nocheck\nlet module = {}\nlet require = function(){}\nlet process = {env:{}}\nlet __dirname  =\"\"\n// TODO: Evaluar el archivo sin errores de objetos que no existan en nr\nmsg.payload = eval(msg.payload)\nmsg.static = msg.payload.httpStatic\nif(msg.static){\n    \nglobal.set(\"mainDir\",msg.payload.httpStatic)\n}else{\n    node.warn(\"no httpStatic specified in setting.js\")\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":140,"wires":[[]]},{"id":"c3e3aff2.f23fd","type":"switch","z":"ed4e75d4.4cfa58","name":"","property":"SETTINGS","propertyType":"env","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":180,"wires":[["8b2796fe.f46e68"],["5af6395c.42f198"]]},{"id":"a674b89d.91df98","type":"inject","z":"ed4e75d4.4cfa58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":180,"wires":[["c3e3aff2.f23fd"]]},{"id":"5af6395c.42f198","type":"function","z":"ed4e75d4.4cfa58","name":"","func":"let dir = env.get(\"STATIC\") || \"./\"\nglobal.set(\"mainDir\",dir)\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":200,"wires":[[]]},{"id":"60e799a0.36d2a8","type":"comment","z":"ed4e75d4.4cfa58","name":"Esta parte es simplemente para añadir una carpeta a la variable flow mainDir","info":"","x":410,"y":100,"wires":[]},{"id":"d67c7036074c9d61","type":"http in","z":"ed4e75d4.4cfa58","name":"","url":"/desk/file","method":"post","upload":true,"swaggerDoc":"","x":180,"y":660,"wires":[["8b7588216aace17c"]]},{"id":"8b7588216aace17c","type":"function","z":"ed4e75d4.4cfa58","name":"","func":"const path = global.get(\"path\")\nmsg.filename = msg.payload?.path\n\nconst mainDirectory = global.get(\"mainDir\")\nconst dir = msg.filename\nfunction mainDirectoryCheck(parent,dir){\n     const relative = path.relative(parent, dir);\n    const isSubdir = relative && !relative.startsWith('..') && !path.isAbsolute(relative);\n    return (isSubdir||parent == dir)?true:false;\n}\nmsg.check = mainDirectoryCheck(mainDirectory,dir)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":660,"wires":[["aac0b6ea747b9f91"]]},{"id":"aac0b6ea747b9f91","type":"switch","z":"ed4e75d4.4cfa58","name":"","property":"check","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":660,"wires":[["7f0c970c373702e6"],["ba33f85537f226a9"]]},{"id":"7f0c970c373702e6","type":"file in","z":"ed4e75d4.4cfa58","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":680,"y":640,"wires":[["13ad71b4c43bc71f"]]},{"id":"ba33f85537f226a9","type":"http response","z":"ed4e75d4.4cfa58","name":"","statusCode":"401","headers":{},"x":940,"y":680,"wires":[]},{"id":"13ad71b4c43bc71f","type":"http response","z":"ed4e75d4.4cfa58","name":"","statusCode":"","headers":{},"x":930,"y":640,"wires":[]},{"id":"8e87190319852756","type":"http in","z":"ed4e75d4.4cfa58","name":"","url":"/desk/file","method":"delete","upload":false,"swaggerDoc":"","x":180,"y":780,"wires":[["0bb2371755a0aaa9"]]},{"id":"0bb2371755a0aaa9","type":"function","z":"ed4e75d4.4cfa58","name":"","func":"const path = global.get(\"path\")\nmsg.filename = msg.payload?.path\n\nconst mainDirectory = global.get(\"mainDir\")\nconst dir = msg.filename\nfunction mainDirectoryCheck(parent,dir){\n     const relative = path.relative(parent, dir);\n    const isSubdir = relative && !relative.startsWith('..') && !path.isAbsolute(relative);\n    return (isSubdir||parent == dir)?true:false;\n}\nmsg.check = mainDirectoryCheck(mainDirectory,dir)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":780,"wires":[["50e64dbea32510b4"]]},{"id":"50e64dbea32510b4","type":"switch","z":"ed4e75d4.4cfa58","name":"","property":"check","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":780,"wires":[["83b105d35abf023b"],["5f1e28fc89e834c7"]]},{"id":"83b105d35abf023b","type":"file in","z":"ed4e75d4.4cfa58","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":660,"y":760,"wires":[["7f1540fad59583e7"]]},{"id":"5f1e28fc89e834c7","type":"http response","z":"ed4e75d4.4cfa58","name":"","statusCode":"401","headers":{},"x":940,"y":800,"wires":[]},{"id":"7f1540fad59583e7","type":"http response","z":"ed4e75d4.4cfa58","name":"","statusCode":"","headers":{},"x":930,"y":760,"wires":[]},{"id":"eac2a830d2a97158","type":"debug","z":"ed4e75d4.4cfa58","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":440,"wires":[]},{"id":"3ed07f761c601867","type":"template","z":"33765b81f33f928f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IT WORKS!!","output":"str","x":340,"y":660,"wires":[["9f4c0936b583a8cd"]]},{"id":"fc11598afce3d209","type":"http in","z":"33765b81f33f928f","name":"","url":"test","method":"get","upload":false,"swaggerDoc":"","x":110,"y":660,"wires":[["3ed07f761c601867"]]},{"id":"9f4c0936b583a8cd","type":"http response","z":"33765b81f33f928f","name":"","statusCode":"","headers":{},"x":550,"y":660,"wires":[]},{"id":"99b15111.d2eb9","type":"http in","z":"33765b81f33f928f","name":"","url":"/main","method":"get","upload":false,"swaggerDoc":"","x":90,"y":60,"wires":[["56dd6d93.394934"]]},{"id":"19ac2d58.fdcdf3","type":"function","z":"33765b81f33f928f","name":"","func":"msg.count = 0\nfunction RecursiveMenu(arr){\n   \n    //to do some recursively, call this function again on a loop\n    var string=\"\"\n    for(var i=0;i<arr.length;i++){\n         msg.count+=1\n        //to do some recursively, call this function again\n        if(arr[i].children &&arr[i].children.length > 0 ){\n           string = string.concat(\n                '<button class=\"dropdown-btn\"> ',\n                    arr[i].name,\n                  '<i class=\"fa fa-caret-down\"></i>',\n                '</button>',\n                '<div class=\"dropdown-container\">',\n                    RecursiveMenu(arr[i].children),\n                '</div>'\n              )\n        }\n        else{\n            if(arr[i].iframe === true){\n                string = string.concat(\"<a onClick=\\\"CreateIframeOnMain('\"+arr[i].link+\"','\"+arr[i].name+\"')\\\">\"+arr[i].name+\"</a>\" )\n            }\n            else{\n                string = string.concat(\"<a href='\"+arr[i].link+\"'>\"+arr[i].name+\"</a>\" )\n            }\n           \n        }\n        // node.warn([i,string])\n    }\n    return string\n}\n\nmsg.menu = RecursiveMenu(msg.menu)\nreturn msg","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":60,"wires":[["32f6e60f.659d2a"]]},{"id":"32f6e60f.659d2a","type":"template","z":"33765b81f33f928f","name":"container","field":"container","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n    <div class=\"theme_dark\" height=\"43px\">\n      <button class=\"openbtn\" onclick=\"toogleClick()\">&#9776; </button>\n      <span class=\"menu_tittle\"> HOME </span>\n    </div>\n</div>\n\n\n    \n   ","output":"str","x":650,"y":60,"wires":[["55ba08fe.6bf208"]]},{"id":"55ba08fe.6bf208","type":"template","z":"33765b81f33f928f","name":"Last Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<title>NXITO</title>\n<link rel=\"shortcut icon\" href=\"/images/NXito Big.png\" />\n <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js\"> </script>\n<div id=\"main\">\n\n {{{container}}}\n</div>\n<div class=\"sidebar\" id=\"sidebar\">\n      <img src =\"/images/NXitoNEW%20RED.svg\" width=\"200px\" height=\"auto\">\n      {{{menu}}}\n</div>\n  \n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>/* The sidebar menu */\nbody{\ndisplay: contents;}\n.theme_dark{\n    background-color: #111; /* Black*/\n    color:white;\n}\n.sidebar {\n  height: -webkit-fill-available; /* 100% Full-height */\n  width: 0; /* 0 width - change this with JavaScript */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Stay on top */\n  top: 0;\n  left: 0;\n  background-color: #111; /* Black*/\n  overflow-x: hidden; /* Disable horizontal scroll */\n  /*padding-top: 60px; */\n  padding-bottom: 60px;\n  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */\n\n}\n/* Style the sidebar links and the dropdown button */\n.dropdown-btn {\n  padding: 6px 8px 6px 16px;\n  text-decoration: none;\n  font-size: 20px;\n  color: #818181;\n  display: block;\n  border: none;\n  background: none;\n  width:100%;\n  text-align: left;\n  cursor: pointer;\n  outline: none;\n}\n\n/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */\n.dropdown-container {\n  display: none;\n  background-color: #262626;\n  padding-left: 8px;\n}\n\n/* Optional: Style the caret down icon */\n.fa-caret-down {\n  float: right;\n  padding-right: 8px;\n}\n\n/* Add an active class to the active dropdown button */\n.active {\n  background-color: #ac000060;\n  color: white;\n}\n\n/* The sidebar links */\n.sidebar a {\n  padding: 8px 8px 8px 16px;\n  text-decoration: none;\n  font-size: 25px;\n  color: #818181;\n  display: block;\n  transition: 0.3s;\n}\n\n/* When you mouse over the navigation links, change their color */\n.sidebar a:hover, .dropdown-btn:hover {\n  color: #f1f1f1;\n}\n\n/* Position and style the close button (top right corner) */\n.sidebar .closebtn {\n  position: absolute;\n  top: 0;\n  right: 25px;\n  font-size: 36px;\n  margin-left: 50px;\n}\n\n/* The button used to open the sidebar */\n.openbtn {\n  font-size: 20px;\n  cursor: pointer;\n  background-color: #111;\n  color: white;\n  padding: 10px 15px;\n  border: none;\n}\n\n.openbtn:hover {\n  background-color: #444;\n}\n.main_iframe{\n    width: -webkit-fill-available;\n    height: calc(100% - 43px); \n    /*transition: margin-left .5s;*/\n}\n/* Style page content - use this if you want to push the page content to the right when you open the side navigation */\n#main {\n  transition: margin-left .5s; /* If you want a transition effect */\n  /*padding: 20px;*/\n}\n\n/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */\n@media screen and (max-height: 450px) {\n  .sidebar {padding-top: 15px;}\n  .sidebar a {font-size: 18px;}\n}\n</style>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = $(\".dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  $(this).find(\".fa-caret-down\").toggleClass('fa-caret-left')\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n\n</script>\n<script>\n//se crea una funcion  para que el boton active y desactive el menu\nvar menuIsOpen = false\nfunction toogleClick(){\n    if(menuIsOpen===true){\n        $(\".openbtn\").text(\"☰ \")\n        closeNav()\n        \n    }else{\n         $(\".openbtn\").text(\"x\")\n        openNav()\n        \n    } \n    console.log(\"click\",menuIsOpen)\n}\n\n\nfunction openNav() {\n    menuIsOpen =true\n    $(\"#sidebar\").width(\"250px\");\n    $(\"#main\").css({marginLeft:'250px'})\n}\n\nfunction closeNav() {\n    menuIsOpen = false\n    $(\"#sidebar\").width(\"0\");\n    $(\"#main\").css({marginLeft:'0'})\n   \n}\n//se crea la funcion para que aparezca el iframe con el botón del menu\nfunction CreateIframeOnMain(link,name){\n    console.log(\"link\",link)\n    console.log(\"name\",name)\n    closeNav()\n    $(\"#main\").html(\n        $(' <div class=\"theme_dark\"> '+\n        ' <button class=\"openbtn\" onclick=\"toogleClick()\">&#9776; </button>'+\n        '<span class=\"menu_tittle\"> '+name+' </span>'+\n        '</div> <object class=\"main_iframe\" data =\"'+link+'\"/>')//.attr('src', link)\n        )\n}\n\n(function() {\nlet  sidebar = document.getElementById(\"sidebar\");\nsidebar.getElementsByTagName(\"a\")[0].click()\n})();\n\n</script>\n","output":"str","x":870,"y":60,"wires":[["42ad504c.806cc"]]},{"id":"42ad504c.806cc","type":"http response","z":"33765b81f33f928f","name":"","statusCode":"","headers":{},"x":1060,"y":60,"wires":[]},{"id":"56dd6d93.394934","type":"function","z":"33765b81f33f928f","g":"6ed80a6bc2f7babc","name":"JSON","func":"msg.menu =[  \n    // {\n    //     \"name\": \"main menu\",\n    //     \"link\": \"/pages/presentation/index.html\",\n    //     \"iframe\":true,\n    //     \"children\": []\n    // },\n\n    {\n        \"name\": \"Principal\",\n        \"link\": \"/\",\n        \"iframe\": true,\n        \"children\": []\n    },\n\n    {\n        \"name\": \"DashBoard\",\n        \"link\": \"/api/ui\",\n        \"iframe\": true,\n        \"children\": []\n    },\n    {\n        \"name\": \"Contacto\",\n        \"link\": \"/api/contact\",\n        \"iframe\": true,\n        \"children\": []\n    },\n    {\n        \"name\": \"Aplicaciones\",\n        \"link\": \"\",\n        \"iframe\": false,\n        \"children\": [\n\n            {\n                \"name\": \"Music Visualizer\",\n                \"link\": \"/api/musicvisualizer\",\n                \"iframe\": true,\n                \"children\": []\n            },\n            {\n                \"name\": \"Music Visualizer ( waveJS )\",\n                \"link\": \"/api/display_music\",\n                \"iframe\": true,\n                \"children\": []\n            },\n\n\n        ]\n    },\n \n]\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":60,"wires":[["19ac2d58.fdcdf3"]]},{"id":"0c49b5c4d8c97b4f","type":"template","z":"33765b81f33f928f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Tarjeta de Presentación</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #f0f0f0;\n            margin: 0;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n        }\n\n        .card {\n            max-width: 400px;\n            background-color: #fff;\n            border-radius: 10px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n            overflow: hidden;\n            display: flex;\n            flex-direction: column;\n        }\n\n        .avatar {\n            width: 100%;\n            height: 150px;\n            background-image: url('/images/NXito Big.png');\n            background-size: cover;\n        }\n\n        .info {\n            padding: 20px;\n            text-align: center;\n        }\n\n        h1 {\n            font-size: 24px;\n            margin-bottom: 10px;\n        }\n\n        p {\n            font-size: 16px;\n            color: #555;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"card\">\n        <div class=\"avatar\"></div>\n        <div class=\"info\">\n            <h1>Nombre</h1>\n            <p>Sobre mí: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>\n            <p>Habilidades: HTML, CSS, JavaScript</p>\n            <p>Contacto: <a href=\"mailto:correo@ejemplo.com\">correo@ejemplo.com</a></p>\n        </div>\n    </div>\n</body>\n</html>\n","output":"str","x":340,"y":340,"wires":[["87f5f6f9c4494574"]]},{"id":"689e58a5a954b410","type":"http in","z":"33765b81f33f928f","name":"","url":"presentation","method":"get","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["0c49b5c4d8c97b4f"]]},{"id":"87f5f6f9c4494574","type":"http response","z":"33765b81f33f928f","name":"","statusCode":"","headers":{},"x":690,"y":340,"wires":[]},{"id":"3958fe52704a0598","type":"template","z":"33765b81f33f928f","name":"body","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<body>\n    <div class=\"card\">\n        <div class=\"header\"> </div>\n        <div class=\"avatar\">  </div>\n        <div class=\"info\">\n            <h1>Anxo Vilar Beiras</h1>\n            <p>Sobre mí: Desarrollador FullStack </p>\n            <p>Habilidades:  JavaScript, NodeJS, Go, Svelte, Node-Red</p>\n            <p>Contacto: <a href=\"anxo97vb@gmail.com\">anxo97vb@gmail.com</a></p>\n        </div>\n    </div>\n\n    \n</body>\n ","output":"str","x":330,"y":580,"wires":[["8f770f15fb04af5c"]]},{"id":"c0dbcd1225aa3ea4","type":"http in","z":"33765b81f33f928f","name":"","url":"contact","method":"get","upload":false,"swaggerDoc":"","x":100,"y":560,"wires":[["3958fe52704a0598","b2a7e3b17762e5fe"]]},{"id":"4e07639cd828795a","type":"http response","z":"33765b81f33f928f","name":"","statusCode":"","headers":{},"x":690,"y":560,"wires":[]},{"id":"8f770f15fb04af5c","type":"join","z":"33765b81f33f928f","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":" 2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":560,"wires":[["4e07639cd828795a","9a628b90a518abfa"]]},{"id":"b2a7e3b17762e5fe","type":"template","z":"33765b81f33f928f","name":"head","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" \n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Tarjeta de Presentación</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #232323;\n            margin: 0;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n        }\n\n        .card {\n            max-width: 400px;\n            background-color: #fff;\n            border-radius: 10px;\n            box-shadow: 11px 14px 20px 20px rgb(255 32 32 / 7%);\n            overflow: hidden;\n            display: flex;\n            flex-direction: column;\n        }\n\n        .avatar {\n            width: 100px;\n            height: 100px;\n            place-self: center;\n            background-image: url('/images/NXito Big.png');\n            background-size: cover;\n            z-index: 11;\n            position: fixed;\n        }\n        .header{\n            background-image: url('https://wallpaperaccess.com/full/5651978.png');\n            background-size: cover;\n            height: 70px;\n            position: relative;\n        }\n        .info {\n            padding: 20px;\n            text-align: center;\n        }\n\n        h1 {\n            font-size: 24px;\n            margin-bottom: 10px;\n        }\n\n        p {\n            font-size: 16px;\n            color: #555;\n        }\n    </style>\n</head>\n","output":"str","x":330,"y":520,"wires":[["8f770f15fb04af5c"]]},{"id":"9a628b90a518abfa","type":"debug","z":"33765b81f33f928f","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":520,"wires":[]},{"id":"4df82d8964b2f039","type":"http in","z":"33765b81f33f928f","name":"","url":"display_music","method":"get","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["89aed37e6a88f27e"]]},{"id":"16cda53f13b369d1","type":"http response","z":"33765b81f33f928f","name":"","statusCode":"","headers":{},"x":690,"y":420,"wires":[]},{"id":"89aed37e6a88f27e","type":"function","z":"33765b81f33f928f","name":"","func":"if(!msg.payload || !msg.payload.path  ){\n    msg.payload={\n        path:\" /music/nocopys/Alan Walker - Dreamer [NCS Release].mp3\"\n     , name: \" /music/nocopys/Alan Walker - Dreamer [NCS Release].mp3\".split(\"/\").pop()\n      \n    }\n} \n \nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":420,"wires":[["417c5e9ddd44c774"]]},{"id":"417c5e9ddd44c774","type":"template","z":"33765b81f33f928f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Document</title>\n<script src=\"https://cdn.jsdelivr.net/gh/foobar404/wave.js/dist/bundle.js\"></script>\n\n \n</head>\n\n<body>\n    <div id=\"container\">\n        <canvas height=\"200\" width=\"200\"  ></canvas>\n        <div class=\"flexAudioElement\">\n            {{{payload.name}}}\n        <audio id=\"audioElmId\" src =\"{{{payload.path}}}\" preload=\"auto\" tabindex=\"0\" type=\"audio/mp3\" controls=\"controls\" controlsList='nodownload'   ></audio>\n        </div>\n        <img id=\"imgElmId\" src=\"/images/NXito Big.png\"/>\n    </div>\n    <script>\n        let canvas = document.querySelector(\"canvas\");\n        let audio = document.querySelector(\"audio\");\n        let wave = new Wave(audio, canvas);\n\n        canvas.height = window.innerHeight - 30;\n        canvas.width = window.innerWidth - 30;\n        \n\n\n \n      wave.addAnimation(new wave.animations.Glob({\n            fillColor: {gradient: [\"red\",\"black\",\"red\"], rotate: 45},\n            // fillColor: {\"image\": '/logos/NXito Big.png'}\n            frequencyBand:\"base\",//\"lows\",\n            lineWidth: 2,\n            lineColor: \"red\",\n            count: 80,\n            mirroredX:true,\n            \n        }));\n\n        wave.addAnimation(new wave.animations.Glob({\n            // fillColor: {gradient: [\"red\",\"blue\",\"red\"], rotate: 45},\n            fillColor:  \"#00000000\",\n            frequencyBand:\"mids\",\n            //  frequencyBand:\"base\",\n            lineWidth: 5,\n            lineColor: \"#fff\",\n            mirroredX:true,\n            count: 80\n        }));\n          wave.addAnimation(new wave.animations.Glob({\n            fillColor: {gradient: [\"red\",\"black\",\"black\"], rotate: 45},\n             frequencyBand:\"highs\",\n            lineWidth: 2,\n            lineColor: \"red\",\n            // mirroredX:true,\n\n        }));\n           \n \n    </script>\n</body>\n<style>\n            html,\n        body {\n            margin: 0;\n            padding: 0;\n        }\nbody{\n    background:black;\n}\n#container{\n     width: 100%;\n     height:100%;\n     display:flex;\n     justify-content: center;\n}\n    #imgElmId{position: absolute;\n    width: 290px;\n    align-self: center;}\n\n    audio::-webkit-media-controls-panel {\n    background: #000000bd;\n}\n.flexAudioElement{\n        display: flex;\n    position: fixed;\n    bottom: 15%;\n    color: white;\n    flex-direction: column;\n    align-items: center;\n}\n}\n</style>\n","output":"str","x":490,"y":420,"wires":[["16cda53f13b369d1"]]},{"id":"9b8c92d3af95ed7d","type":"subflow:442f82fa.b1dd6c","z":"33765b81f33f928f","name":"","env":[{"name":"setFolder","value":"./public/music/nocopys","type":"str"},{"name":"setRecursive","value":"false","type":"bool"}],"x":400,"y":180,"wires":[["ec5827b54d6735be"]]},{"id":"ebbdf46c3ae9d2ef","type":"inject","z":"33765b81f33f928f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["9b8c92d3af95ed7d"]]},{"id":"ec5827b54d6735be","type":"debug","z":"33765b81f33f928f","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":180,"wires":[]},{"id":"88dd8fc1.a5d97","type":"template","z":"2e387e02.e724b2","name":"no dinamic template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Audio Visualizer</title>\n\n    <script src=\"/api/musicvisualizer/visualizer\" type=\"text/javascript\"></script>\n \n    <link rel=\"stylesheet\" href=\"/api/musicvisualizer/style.css\">\n</head>\n\n<body>\n    <div id=\"background\">\n        <img id=\"background_img\" src=\"https://wallpaperaccess.com/full/981630.jpg\" alt=\"\">\n        <video id = background_vid ></video>\n    </div>\n    <div id=\"wrapper\">\n        <canvas id=\"canvas\"></canvas>\n        <button class=\"container \" id=\"prevSong\">\n            <div class=\"container__triangle container__triangle--left\"></div>\n        </button>\n        <button class=\"button\" style=\"vertical-align:middle\" id=\"play\"> <img id=\"image\"\n                src=\"/images/NXito Big.png\">\n        </button>\n        <button class=\"container \" id=\"nextSong\">\n            <div class=\"container__triangle container__triangle--right\"></div>\n        </button>\n        <div class=\"dataSong\">\n            <div><span id=\"songName\"> - </span></div>\n            <div><span id=\"tracktime\">00:00:00</span></div>\n        </div>\n    </div>\n<script>\n    \n        //TODO: Al terminar una cancion, avanzar a la siguiente\n        //TODO: click dercho para ver opcionesy listado de canciones\n        //TODO: si el archivo de audio es mp4, el background cambia a video\n        let counter = 0;\n        var config = {};\n        const queryString = window.location.search;\n        console.log(queryString);\n        const urlParams = new URLSearchParams(queryString);\n        const volumen = urlParams.get('volumen')\n        console.log(volumen);\n        //set background\n        // var backgroundImage = \"https://wallpaperaccess.com/full/1948568.jpg\"\n        // var backgroundImage = \"/owls.jpg\"\n         let img = document.getElementById(\"background_img\")\n        // img.style.background = `url('${backgroundImage}') no-repeat`\n        // img.style[\"background-size\"] =\"cover\"\n         function checkvideo () {\n            let vid =document.getElementById(\"background_vid\")\n            let img = document.getElementById(\"background_img\")\n\n            if(config.src.split(\".\").pop().match(/mp4/i)){\n                let wrapper=document.getElementById(\"wrapper\")\n                wrapper.style.opacity =\"0.3\"\n                let vid =document.getElementById(\"background_vid\")\n                vid.muted = true; \n                vid.src = config.src\n                vid.currentTime  = audio.currentTime \n                vid.style.display =\"block\"\n                img.style.display =\"none\"\n                if(!isPlayed){try{vid.resume();}catch(err){vid.play();}}else{vid.pause();}\n\n            }else{\n                wrapper.style.opacity =\"1\"\n                vid.src=\"\"\n                vid.style.display =\"none\"\n                img.style.display =\"block\"\n            }\n\n        }\n\n\n        window.onload = function () {\n            \n            fetch(\"/api/musicvisualizer/folder?path=./public/music/nocopys\")\n                .then(response => response.json())\n                .then(data => {\n                    \n                    if(Array.isArray(data)){\n                        let aux = []\n                        for ( let i in data){\n                            let item = data[i]\n                            if(item.type == \"file\"){\n                               aux.push(item.path.replace(\"./public\",\"\")) \n                            }\n                        }\n                        data = aux\n                    }\n                    let currentSong = data[counter]\n                    config.src = currentSong;\n                    document.getElementById('songName').innerHTML = config.src ? config.src.split(\"/\").pop().split(\".mp3\").shift() : \" - \";\n                    var prevSong = document.getElementById(\"prevSong\")\n                    prevSong.addEventListener(\"click\", function () {\n                        counter--\n                        if (counter < 0) { counter = data.length - 1 }\n                        currentSong = data[counter]\n                        config.src = currentSong\n                        currentSongTimePaused = 0;\n                        audio.currentTime = 0\n                        checkvideo ()\n                        let vid =document.getElementById(\"background_vid\")\n                        vid.src=\"\"  \n                        visualize(volumen, config);\n                        visualize(volumen, config);\n                    });\n                    var nextSong = document.getElementById(\"nextSong\")\n                    nextSong.addEventListener(\"click\", function () {\n                        counter++\n                        if (counter > data.length - 1) { counter = 0 }\n                        currentSong = data[counter]\n                        config.src = currentSong\n                        currentSongTimePaused = 0;\n                        audio.currentTime = 0\n                        checkvideo ()\n                        let vid =document.getElementById(\"background_vid\")\n                        vid.src=\"\"                        \n                        visualize(volumen, config);\n                        visualize(volumen, config);\n                    });\n\n                    var play = document.getElementById(\"play\")\n                    play.addEventListener(\"click\", function () {\n                        checkvideo ()\n                        visualize(volumen, config);\n                    });\n\n\n                });\n\n        }\n\n</script>\n</body>\n\n</html>","output":"str","x":680,"y":180,"wires":[["20ccdab.7ea5126"]]},{"id":"e8628afe.7dfb68","type":"http in","z":"2e387e02.e724b2","name":"","url":"/musicvisualizer","method":"get","upload":false,"swaggerDoc":"","x":180,"y":200,"wires":[["55fe67d2.eb5d48","6d273b48.5f2604"]]},{"id":"20ccdab.7ea5126","type":"http response","z":"2e387e02.e724b2","name":"","statusCode":"","headers":{},"x":910,"y":200,"wires":[]},{"id":"d9c7f8f7.17ea28","type":"http in","z":"2e387e02.e724b2","name":"","url":"/musicvisualizer/visualizer","method":"get","upload":false,"swaggerDoc":"","x":190,"y":400,"wires":[["77597f8c.41d4e"]]},{"id":"40cb786e.6983d8","type":"template","z":"2e387e02.e724b2","name":"v2 like bugged","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"let audioAnalyser, freqArray;\nvar audio = {};\nvar isPlayed = false\nvar currentSongTimePaused = 0;\nwindow.mobileAndTabletCheck = function() {\n    let check = false;\n    (function(a){if(/(android|bb\\d+|meego).+mobile|avantgo|bada\\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\\-(n|u)|c55\\/|capi|ccwa|cdm\\-|cell|chtm|cldc|cmd\\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\\-s|devi|dica|dmob|do(c|p)o|ds(12|\\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\\-|_)|g1 u|g560|gene|gf\\-5|g\\-mo|go(\\.w|od)|gr(ad|un)|haie|hcit|hd\\-(m|p|t)|hei\\-|hi(pt|ta)|hp( i|ip)|hs\\-c|ht(c(\\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\\-(20|go|ma)|i230|iac( |\\-|\\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\\/)|klon|kpt |kwc\\-|kyo(c|k)|le(no|xi)|lg( g|\\/(k|l|u)|50|54|\\-[a-w])|libw|lynx|m1\\-w|m3ga|m50\\/|ma(te|ui|xo)|mc(01|21|ca)|m\\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\\-2|po(ck|rt|se)|prox|psio|pt\\-g|qa\\-a|qc(07|12|21|32|60|\\-[2-7]|i\\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\\-|oo|p\\-)|sdk\\/|se(c(\\-|0|1)|47|mc|nd|ri)|sgh\\-|shar|sie(\\-|m)|sk\\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\\-|v\\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\\-|tdg\\-|tel(i|m)|tim\\-|t\\-mo|to(pl|sh)|ts(70|m\\-|m3|m5)|tx\\-9|up(\\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\\-|your|zeto|zte\\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);\n    return check;\n  };\n// var rotation =0;\n\nfunction visualize(volumen=1,config) {\n    if(!config){config={}}\n    if (!isPlayed) {\n        audio = new Audio();\n        audio.src = config.src ;\n        audio.currentTime = currentSongTimePaused\n        currentSongTimePaused = 0\n        audio.ontimeupdate=function(){\n            // console.log(this.currentTime);\n            // console.log(new Date(this.currentTime * 1000).toISOString().substr(11, 8))\n            \n            document.getElementById('tracktime').innerHTML = new Date(this.currentTime * 1000).toISOString().substr(11, 8)\n        }\n        audio.onended = function(){document.getElementById(\"nextSong\").click()}\n        document.getElementById('songName').innerHTML = config.src?config.src.split(\"/\").pop():\" - \";\n        audio.volume = volumen || 0.50;\n        isPlayed = true\n        let audioContext = new (window.AudioContext || window.webkitAudioContext);\n        audioAnalyser = audioContext.createAnalyser();\n        let source = audioContext.createMediaElementSource(audio);\n        source.connect(audioAnalyser);\n        audioAnalyser.connect(audioContext.destination);\n        freqArray = new Uint8Array(audioAnalyser.frequencyBinCount);\n        audio.play();\n        animate(config.bars,config.barWidthConst,config.barHeightConst,config.radius );\n    }\n    else {\n        isPlayed = false\n        currentSongTimePaused = audio.currentTime\n        audio.pause();\n        \n   \n\n    }\n};\n\n\nfunction animate(barNumber=250,bars = 200,barWidthConst=8,barHeightConst=0.5,radiusCircle = 200,stop=false){\n    //setup the canvas\n    let canvas = document.getElementById(\"canvas\");\n    canvas.width = window.innerWidth;\n    canvas.height = window.innerHeight;\n    canvasContext = canvas.getContext(\"2d\");\n    // if(window.mobileAndTabletCheck() && barNumber>50){barNumber = 50}\n    //center of the circle\n    let centerX = canvas.width / 2;\n    let centerY = canvas.height / 2;\n    let radius = radiusCircle;\n    //background styling\n    // let gradient = canvasContext.createLinearGradient(0, 0, 0, canvas.height); //x1, y1, x2, y2\n    // gradient.addColorStop(0, \"rgba(26, 13, 21, 0)\")  //offset, color\n    // // gradient.addColorStop(1, \"rgba(36, 45, 33, 0)\")  //offset, color\n    // canvasContext.fillStyle = gradient;\n    // canvasContext.fillRect(0, 0, canvas.width, canvas.height);\n\n    //Draw the circle\n    canvasContext.beginPath();\n    canvasContext.arc(centerX, centerY, radius, 0, 2*Math.PI);\n    canvasContext.stroke();\n    // canvasContext.translate(canvas.height, canvas.width);\n    // canvasContext.rotate(rotation);\n    // rotation += 0.04;\n    // let bars=300;\n    if(window.mobileAndTabletCheck() && bars>50){bars = 50}\n    // if(barNumber){bars = bar}\n    const theta = 2*Math.PI / bars; // vueltas de las barras al circulo\n    audioAnalyser.getByteFrequencyData(freqArray);\n\n    let logo = document.getElementById(\"image\")\n    for(let i = 0; i<bars; ++i){\n        \n            let barHeight = freqArray[i]*barHeightConst;\n            //start point\n            let startX = centerX + radius*Math.cos(theta-10*i);\n            let startY = centerY + radius*Math.sin(theta-10*i);\n            let barWidth;\n            if(freqArray[i]>=200) {barWidth = barWidthConst+5;}\n            else {barWidth = barWidthConst;}\n             //endpoint\n            let endX = centerX + (radius+barHeight)*Math.cos(theta-50*i);\n            let endY = centerY + (radius+barHeight)*Math.sin(theta-50*i);\n        if(i<15){\n            //start point\n             startX = centerX + radius*Math.cos(theta+10*i);\n             startY = centerY + radius*Math.sin(theta+10*i);\n             barWidth = 60\n             //endpoint\n             endX = centerX + (radius+barHeight)*Math.cos(theta+50*i);\n             endY = centerY + (radius+barHeight)*Math.sin(theta+50*i);    \n        }\n         //draw that bar\n        drawBar(startX, startY, endX, endY, freqArray[i], canvasContext,barWidth );\n    }\n    if(!isPlayed){\n        stop = true\n    }\n    if(stop == false){\n        window.requestAnimationFrame(animate);\n    }else{\n        window.requestAnimationFrame(animate,true);\n        return\n    }\n}\n\nfunction drawBar(startX, startY, endX, endY, freq, canvasContext,barWidthConst ){\n    // let freq1 = freq\n    // let freq2 = freq\n    const mainColorVal = 150\n    // if(freq1<5){freq1 = 5}\n    // if(freq1>50){freq1 = 50}\n    // if(freq2<0){freq2 = 5}\n    // if(freq2>50){freq2 = 50}\n    // let barColor = \"rgba(\" + mainColorVal + \", \" + freq+ \", \" + freq  + \")\";\n    // if(freq>200){barColor = \"orange\"}\n    let barWidth = barWidthConst\n    // canvasContext.strokeStyle = barColor;\n    let opacity = freq/250\n    let shadowColor = \"grey\"\n    var gradient =canvasContext.createLinearGradient(endX, endY, startX, startY, endX, endY);\n        \n    gradient.addColorStop(\"0\",   \"rgba(\" + 0 + \", \" + 0+ \", \" + 0  + \",\"+opacity/2+\")\");\n    gradient.addColorStop(\"0.05\",   \"rgba(\" + freq + \", \" + freq+ \", \" + freq  + \",\"+opacity+\")\");\n    gradient.addColorStop(\"0.2\" ,\"rgba(\" + freq + \", \" + freq+ \", \" + freq  + \",\"+opacity*2+\")\");\n    gradient.addColorStop(\"0.9\", \"rgba(\" + mainColorVal + \", \" + freq+ \", \" + freq  + \",\"+ \"1\" +\")\");\n    gradient.addColorStop(\"1.0\", \"rgba(\" + 0 + \", \" + 0+ \", \" + 0  + \",\"+ \"1\" +\")\");\n\n    if(freq>90 && freq<200){\n        freq = 50\n    \n    var gradient =canvasContext.createLinearGradient(endX, endY, startX, startY, endX, endY);\n        \n        gradient.addColorStop(\"0\",   \"rgba(\" + 0 + \", \" + 0+ \", \" + 0  + \",\"+opacity/2+\")\");\n        gradient.addColorStop(\"0.05\",   \"rgba(\" + freq + \", \" + freq+ \", \" + freq  + \",\"+opacity+\")\");\n        gradient.addColorStop(\"0.2\" ,\"rgba(\" + freq + \", \" + freq+ \", \" + freq  + \",\"+opacity*2+\")\");\n        gradient.addColorStop(\"0.9\", \"rgba(\" + mainColorVal + \", \" + freq+ \", \" + freq  + \",\"+ \"1\" +\")\");\n        gradient.addColorStop(\"1.0\", \"rgba(\" + 0 + \", \" + 0+ \", \" + 0  + \",\"+ \"1\" +\")\");\n    }\n    if(freq>=200){\n        var gradient =canvasContext.createLinearGradient(endX, endY, startX, startY, endX, endY);\n    \n        gradient.addColorStop(\"0\",   \"rgba(\" + 155 + \", \" + 10+ \", \" + 6  + \",\"+opacity+\")\");\n        gradient.addColorStop(\"0.5\",   \"rgba(\" + 50 + \", \" + 10 + \", \" + 6  + \",\"+ opacity +\")\");\n\n        gradient.addColorStop(\"1\",   \"rgba(\" + 155 + \", \" + 10 + \", \" + 6  + \",\"+ \"1\" +\")\");\n        barWidth+2\n        shadowColor = \"red\"\n    }\n\n    canvasContext.strokeStyle  = gradient;\n    canvasContext.lineWidth = barWidth;\n    canvasContext.lineCap = \"round\";\n    canvasContext.shadowBlur = 5;\n    canvasContext.shadowColor = shadowColor;\n    canvasContext.beginPath();\n    canvasContext.moveTo(startX, startY);\n    canvasContext.lineTo(endX, endY);\n    //  canvasContext.bezierCurveTo(startX, startY, endX*1.5, endY*1.5, startX*1.5, startY*1.5);\n\n    canvasContext.fill();\n\n    // canvasContext.arc( startX, startY, endY, (Math.PI/20) * 100, (Math.PI/20) * (28 + 20) );\n    // canvasContext.quadraticCurveTo(endX+50, endY, startX , startY);\n    canvasContext.stroke();\n    // var time = new Date();\n    // canvasContext.rotate( ((2*Math.PI)/60) * time.getSeconds() + ((2*Math.PI)/60000) * time.getMilliseconds() );\n\n}","output":"str","x":580,"y":440,"wires":[["efd0b334.700ac"]]},{"id":"b12e65e9.822e88","type":"http in","z":"2e387e02.e724b2","name":"","url":"/musicvisualizer/style.css","method":"get","upload":false,"swaggerDoc":"","x":180,"y":480,"wires":[["d9e94a9a.350ee8"]]},{"id":"25c01912.3fa176","type":"http response","z":"2e387e02.e724b2","name":"","statusCode":"","headers":{"content-type":"text/css"},"x":830,"y":480,"wires":[]},{"id":"d9e94a9a.350ee8","type":"template","z":"2e387e02.e724b2","name":"","field":"payload","fieldType":"msg","format":"css","syntax":"mustache","template":"\n        body {\n            margin: 0;\n            padding: 0;\n        }\n\n        html,\n        body {\n            /* background: linear-gradient(rgba(26, 13, 21, 1), rgba(36, 45, 33, 1)); */\n            width: -webkit-fill-available;\n            height: -webkit-fill-available;\n            overflow: hidden;\n        }\n\n        .button {\n            display: inline-block;\n            border-radius: 90px;\n            background-color: #ffffff00;\n            border: none;\n            color: #FFFFFF;\n            /* font-size: 28px; */\n            transition: all 0.5s;\n            cursor: pointer;\n            z-index: 2;\n            /* position: absolute; */\n        }\n\n        .button span {\n            cursor: pointer;\n            display: inline-block;\n            position: relative;\n            transition: 0.5s;\n        }\n\n        .button span:after {\n            content: '\\00bb';\n            position: absolute;\n            opacity: 0;\n            top: 0;\n            right: -20px;\n            transition: 0.5s;\n        }\n\n        .button:hover span {\n            padding-right: 25px;\n        }\n\n        .button:hover span:after {\n            opacity: 1;\n            right: 0;\n        }\n\n        #wrapper {\n            text-align: center;\n            width: -webkit-fill-available;\n            height: -webkit-fill-available;\n            position: fixed;\n            /* margin: 50%; */\n            display: flex;\n            align-items: center;\n            justify-content: space-evenly;\n            align-content: stretch;\n            flex-direction: column;\n            flex-wrap: nowrap;\n        }\n\n        #canvas {\n            position: absolute;\n            z-index: 1;\n        }\n\n        #image {\n            width: 400px;\n            box-sizing: border-box;\n            overflow: hidden;\n            /* visibility: hidden; */\n            transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;\n            /* position: fixed; */\n        }\n\n        .container {\n            background: none;\n            border: none;\n            /* Center the content */\n            align-items: center;\n            display: flex;\n            justify-content: center;\n            z-index: 2;\n            position: absolute;\n            /* Spacing */\n            padding: 8px;\n        }\n\n        .container__triangle {\n            border-style: solid;\n\n            /* Size */\n            height: 0px;\n            width: 0px;\n        }\n\n        .container__triangle--up {\n            border-color: transparent transparent rgba(0, 0, 0, 0.3);\n            border-width: 0px 8px 8px;\n        }\n\n        .container__triangle--right {\n            border-color: transparent transparent transparent rgba(0, 0, 0, 0.3);\n            border-width: 8px 0px 8px 8px;\n        }\n\n        .container__triangle--down {\n            border-color: rgba(0, 0, 0, 0.3) transparent transparent;\n            border-width: 8px 8px 0px;\n        }\n\n        .container__triangle--left {\n            border-color: transparent rgba(0, 0, 0, 0.3) transparent transparent;\n            border-width: 8px 8px 8px 0px;\n        }\n\n        #prevSong {\n            width: 20%;\n            height: 100%;\n            position: absolute;\n            left: 0;\n\n        }\n\n        #nextSong {\n            width: 20%;\n            height: 100%;\n            position: absolute;\n            right: 0;\n        }\n\n        .dataSong {\n            color: whitesmoke;\n            font-size: 1.2em;\n            font-family: cursive;\n            display: flex;\n            flex-direction: column;\n            position: absolute;\n            flex-wrap: nowrap;\n            align-items: center;\n            bottom: 30%;\n            text-shadow: -1px -5px 2px black, -2px 1px black, 2px 0px black, 0 -1px black;\n            z-index: 3;\n        }\n\n        #background {\n            position: fixed;\n            height: -webkit-fill-available;\n        }\n\n        #background_img {\n            width: -webkit-fill-available;\n            height: -webkit-fill-available;\n            position: fixed;\n            object-fit: cover;\n        }\n        #background_vid {\n            display: none;\n            height: initial;\n            width: -webkit-fill-available;\n            position: fixed;\n        }\n        @keyframes pulse {\n        0% {\n            transform: scale(1.5);\n            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);\n        }\n\n        70% {\n            transform: scale(1.1);\n            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);\n        }\n\n        100% {\n            transform: scale(1);\n            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);\n        }\n    }","output":"str","x":670,"y":480,"wires":[["25c01912.3fa176"]]},{"id":"efd0b334.700ac","type":"http response","z":"2e387e02.e724b2","name":"","statusCode":"","headers":{},"x":890,"y":400,"wires":[]},{"id":"81d95961.029918","type":"template","z":"2e387e02.e724b2","name":"dinamic template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Audio Visualizer</title>\n\n    <script src=\"/api/musicvisualizer/visualizer\" type=\"text/javascript\"></script>\n \n    <link rel=\"stylesheet\" href=\"/api/musicvisualizer/style.css\">\n</head>\n\n<body>\n    <div id=\"background\">\n        <img id=\"background_img\" src=\"https://wallpaperaccess.com/full/495414.jpg\" alt=\"\">\n        <video id = background_vid ></video>\n    </div>\n    <div id=\"wrapper\">\n        <canvas id=\"canvas\"></canvas>\n        <button class=\"container \" id=\"prevSong\">\n        </button>\n        <button class=\"button\" style=\"vertical-align:middle\" id=\"play\"> <img id=\"image\"\n                src=\"/images/NXito Big.png\">\n        </button>\n        <button class=\"container \" id=\"nextSong\">\n        </button>\n        <div class=\"dataSong\">\n            <div><span id=\"songName\"> - </span></div>\n            <div><span id=\"tracktime\">00:00:00</span></div>\n        </div>\n    </div>\n<script>\n    \n        //TODO: Al terminar una cancion, avanzar a la siguiente\n        //TODO: click dercho para ver opcionesy listado de canciones\n        //TODO: si el archivo de audio es mp4, el background cambia a video\n        let counter = 0;\n        var config = {};\n        const queryString = window.location.search;\n        console.log(queryString);\n        const urlParams = new URLSearchParams(queryString);\n        const volumen = urlParams.get('volumen')\n        console.log(volumen);\n        //set background\n        // var backgroundImage = \"https://wallpaperaccess.com/full/1948568.jpg\"\n        // var backgroundImage = \"/owls.jpg\"\n        //var backgroundImage = \"/img/rimuru-tempest nxito.jpg\"\n        let img = document.getElementById(\"background_img\")\n        // img.style.background = `url('${backgroundImage}') no-repeat`\n        // img.style[\"background-size\"] =\"cover\"\n        // img.src = backgroundImage\n        function checkvideo () {\n            let vid =document.getElementById(\"background_vid\")\n            let img = document.getElementById(\"background_img\")\n\n            if(config.src.split(\".\").pop().match(/mp4/i)){\n                let wrapper=document.getElementById(\"wrapper\")\n                wrapper.style.opacity =\"0.3\"\n                let vid =document.getElementById(\"background_vid\")\n                vid.muted = true; \n                vid.src = config.src\n                vid.currentTime  = audio.currentTime \n                vid.style.display =\"block\"\n                img.style.display =\"none\"\n                if(!isPlayed){try{vid.resume();}catch(err){vid.play();}}else{vid.pause();}\n\n            }else{\n                wrapper.style.opacity =\"1\"\n                vid.src=\"\"\n                vid.style.display =\"none\"\n                img.style.display =\"block\"\n            }\n\n        }\n\n\n        window.onload = function () {\n                    let currentSong = \"{{{payload.path}}}\"\n                    config.src = currentSong;\n                    document.getElementById('songName').innerHTML = config.src ? config.src.split(\"/\").pop() : \" - \";\n                    var play = document.getElementById(\"play\")\n                    play.addEventListener(\"click\", function () {\n                        checkvideo ()\n                        visualize(volumen, config);\n                    });\n\n\n        }\n\n</script>\n</body>\n\n</html>","output":"str","x":670,"y":220,"wires":[["20ccdab.7ea5126"]]},{"id":"55fe67d2.eb5d48","type":"switch","z":"2e387e02.e724b2","name":"","property":"payload.path","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":200,"wires":[["88dd8fc1.a5d97","82003e04.bd90c"],["e078bb1f.804f38","81d95961.029918"]]},{"id":"82003e04.bd90c","type":"debug","z":"2e387e02.e724b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"e078bb1f.804f38","type":"debug","z":"2e387e02.e724b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"7dbc8747.deff88","type":"function","z":"2e387e02.e724b2","name":"","func":"let aux = []\nfor ( let i in msg.payload){\n    let item = msg.payload[i]\n    if(item.type == \"file\"){\n        item = item.path.replace(\"./public\",\"\")\n       aux.push(\n       {\n        \"name\": item.split(\"/\").pop(),\n        \"link\": `/api/musicvisualizer?path=${item}`,\n        \"iframe\":true,\n        \"children\": []\n        }\n       )\n    }\n}\nglobal.set(\"musicDir\",aux) \n\nreturn msg;","outputs":0,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":80,"wires":[]},{"id":"6d273b48.5f2604","type":"subflow:442f82fa.b1dd6c","z":"2e387e02.e724b2","name":"","env":[{"name":"setFolder","value":"./public/music/nocopys","type":"str"}],"x":420,"y":80,"wires":[["7dbc8747.deff88","82003e04.bd90c"]]},{"id":"f8a9c82d.35fbe8","type":"inject","z":"2e387e02.e724b2","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":130,"y":80,"wires":[["6d273b48.5f2604"]]},{"id":"77597f8c.41d4e","type":"template","z":"2e387e02.e724b2","name":"v1","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"let audioAnalyser, freqArray;\nvar audio = {};\nvar isPlayed = false\nvar currentSongTimePaused = 0;\nwindow.mobileAndTabletCheck = function() {\n    let check = false;\n    (function(a){if(/(android|bb\\d+|meego).+mobile|avantgo|bada\\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\\-(n|u)|c55\\/|capi|ccwa|cdm\\-|cell|chtm|cldc|cmd\\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\\-s|devi|dica|dmob|do(c|p)o|ds(12|\\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\\-|_)|g1 u|g560|gene|gf\\-5|g\\-mo|go(\\.w|od)|gr(ad|un)|haie|hcit|hd\\-(m|p|t)|hei\\-|hi(pt|ta)|hp( i|ip)|hs\\-c|ht(c(\\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\\-(20|go|ma)|i230|iac( |\\-|\\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\\/)|klon|kpt |kwc\\-|kyo(c|k)|le(no|xi)|lg( g|\\/(k|l|u)|50|54|\\-[a-w])|libw|lynx|m1\\-w|m3ga|m50\\/|ma(te|ui|xo)|mc(01|21|ca)|m\\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\\-2|po(ck|rt|se)|prox|psio|pt\\-g|qa\\-a|qc(07|12|21|32|60|\\-[2-7]|i\\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\\-|oo|p\\-)|sdk\\/|se(c(\\-|0|1)|47|mc|nd|ri)|sgh\\-|shar|sie(\\-|m)|sk\\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\\-|v\\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\\-|tdg\\-|tel(i|m)|tim\\-|t\\-mo|to(pl|sh)|ts(70|m\\-|m3|m5)|tx\\-9|up(\\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\\-|your|zeto|zte\\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);\n    return check;\n  };\n// var rotation =0;\n\nfunction visualize(volumen=1,config) {\n    if(!config){config={}}\n    if (!isPlayed) {\n        audio = new Audio();\n        audio.src = config.src ;\n        audio.currentTime = currentSongTimePaused\n        currentSongTimePaused = 0\n        audio.ontimeupdate=function(){\n            // console.log(this.currentTime);\n            // console.log(new Date(this.currentTime * 1000).toISOString().substr(11, 8))\n            \n            document.getElementById('tracktime').innerHTML = new Date(this.currentTime * 1000).toISOString().substr(11, 8)\n        }\n        audio.onended = function(){document.getElementById(\"nextSong\").click()}\n        document.getElementById('songName').innerHTML = config.src?config.src.split(\"/\").pop():\" - \";\n        audio.volume = volumen || 0.50;\n        isPlayed = true\n        let audioContext = new (window.AudioContext || window.webkitAudioContext);\n        audioAnalyser = audioContext.createAnalyser();\n        let source = audioContext.createMediaElementSource(audio);\n        source.connect(audioAnalyser);\n        audioAnalyser.connect(audioContext.destination);\n        freqArray = new Uint8Array(audioAnalyser.frequencyBinCount);\n        audio.play();\n        animate(config.bars,config.barWidthConst,config.barHeightConst,config.radius );\n    }\n    else {\n        isPlayed = false\n        currentSongTimePaused = audio.currentTime\n        audio.pause();\n        \n   \n\n    }\n};\n\n\nfunction animate(barNumber=250,bars = 200,barWidthConst=8,barHeightConst=0.5,radiusCircle = 200){\n    //setup the canvas\n    let canvas = document.getElementById(\"canvas\");\n    canvas.width = window.innerWidth;\n    canvas.height = window.innerHeight;\n    let canvasContext = canvas.getContext(\"2d\");\n    // if(window.mobileAndTabletCheck() && barNumber>50){barNumber = 50}\n    //center of the circle\n    let centerX = canvas.width / 2;\n    let centerY = canvas.height / 2;\n    let radius = radiusCircle;\n    //background styling\n    // let gradient = canvasContext.createLinearGradient(0, 0, 0, canvas.height); //x1, y1, x2, y2\n    // gradient.addColorStop(0, \"rgba(26, 13, 21, 0)\")  //offset, color\n    // // gradient.addColorStop(1, \"rgba(36, 45, 33, 0)\")  //offset, color\n    // canvasContext.fillStyle = gradient;\n    // canvasContext.fillRect(0, 0, canvas.width, canvas.height);\n\n    //Draw the circle\n    canvasContext.beginPath();\n    canvasContext.arc(centerX, centerY, radius, 0, 2*Math.PI);\n    canvasContext.stroke();\n    // canvasContext.translate(canvas.height, canvas.width);\n    // canvasContext.rotate(rotation);\n    // rotation += 0.04;\n    // let bars=300;\n    if(window.mobileAndTabletCheck() && bars>50){bars = 50}\n    // if(barNumber){bars = bar}\n    const theta = 2*Math.PI / bars; // vueltas de las barras al circulo\n    audioAnalyser.getByteFrequencyData(freqArray);\n\n    let logo = document.getElementById(\"image\")\n    for(let i = 0; i<bars; ++i){\n        let barHeight = freqArray[i]*barHeightConst;\n        //start point\n        let startX = centerX + radius*Math.cos(theta*i);\n        let startY = centerY + radius*Math.sin(theta*i);\n\n        //endpoint\n        let endX = centerX + (radius+barHeight)*Math.cos(theta*i);\n        let endY = centerY + (radius+barHeight)*Math.sin(theta*i);\n\n        //draw that bar\n        drawBar(startX, startY, endX, endY, freqArray[i], canvasContext,barWidthConst );\n    }\n\n    window.requestAnimationFrame(animate);\n}\n\nfunction drawBar(startX, startY, endX, endY, freq, canvasContext,barWidthConst ){\n    // let freq1 = freq\n    // let freq2 = freq\n    const mainColorVal = 150\n    // if(freq1<5){freq1 = 5}\n    // if(freq1>50){freq1 = 50}\n    // if(freq2<0){freq2 = 5}\n    // if(freq2>50){freq2 = 50}\n    // let barColor = \"rgba(\" + mainColorVal + \", \" + freq+ \", \" + freq  + \")\";\n    // if(freq>200){barColor = \"orange\"}\n    let barWidth = barWidthConst\n    // canvasContext.strokeStyle = barColor;\n    let opacity = freq/250\n    let shadowColor = \"grey\"\n    var gradient =canvasContext.createLinearGradient(endX, endY, startX, startY, endX, endY);\n        \n    gradient.addColorStop(\"0\",   \"rgba(\" + 0 + \", \" + 0+ \", \" + 0  + \",\"+opacity/2+\")\");\n    gradient.addColorStop(\"0.05\",   \"rgba(\" + freq + \", \" + freq+ \", \" + freq  + \",\"+opacity+\")\");\n    gradient.addColorStop(\"0.2\" ,\"rgba(\" + freq + \", \" + freq+ \", \" + freq  + \",\"+opacity*2+\")\");\n    gradient.addColorStop(\"0.9\", \"rgba(\" + mainColorVal + \", \" + freq+ \", \" + freq  + \",\"+ \"1\" +\")\");\n    gradient.addColorStop(\"1.0\", \"rgba(\" + 0 + \", \" + 0+ \", \" + 0  + \",\"+ \"1\" +\")\");\n\n    if(freq>90 && freq<200){\n        freq = 50\n    \n    var gradient =canvasContext.createLinearGradient(endX, endY, startX, startY, endX, endY);\n        \n        gradient.addColorStop(\"0\",   \"rgba(\" + 0 + \", \" + 0+ \", \" + 0  + \",\"+opacity/2+\")\");\n        gradient.addColorStop(\"0.05\",   \"rgba(\" + freq + \", \" + freq+ \", \" + freq  + \",\"+opacity+\")\");\n        gradient.addColorStop(\"0.2\" ,\"rgba(\" + freq + \", \" + freq+ \", \" + freq  + \",\"+opacity*2+\")\");\n        gradient.addColorStop(\"0.9\", \"rgba(\" + mainColorVal + \", \" + freq+ \", \" + freq  + \",\"+ \"1\" +\")\");\n        gradient.addColorStop(\"1.0\", \"rgba(\" + 0 + \", \" + 0+ \", \" + 0  + \",\"+ \"1\" +\")\");\n    }\n    if(freq>=200){\n        var gradient =canvasContext.createLinearGradient(endX, endY, startX, startY, endX, endY);\n    \n        gradient.addColorStop(\"0\",   \"rgba(\" + 155 + \", \" + 10+ \", \" + 6  + \",\"+opacity+\")\");\n        gradient.addColorStop(\"0.5\",   \"rgba(\" + 50 + \", \" + 10 + \", \" + 6  + \",\"+ opacity +\")\");\n\n        gradient.addColorStop(\"1\",   \"rgba(\" + 155 + \", \" + 10 + \", \" + 6  + \",\"+ \"1\" +\")\");\n        barWidth+2\n        shadowColor = \"red\"\n    }\n\n    canvasContext.strokeStyle  = gradient;\n    canvasContext.lineWidth = barWidth;\n    // canvasContext.lineCap = \"round\";\n    canvasContext.shadowBlur = 5;\n    canvasContext.shadowColor = shadowColor;\n    canvasContext.beginPath();\n    canvasContext.moveTo(startX, startY);\n    canvasContext.lineTo(endX, endY);\n    canvasContext.fill();\n    // canvasContext.arc( endX, endY, 20, (Math.PI/20) * 100, (Math.PI/20) * (28 + 20) );\n    // canvasContext.bezierCurveTo(endX, endY, startX, startY, endX, endY);\n    // canvasContext.quadraticCurveTo(endX+50, endY, startX , startY);\n    canvasContext.stroke();\n    // var time = new Date();\n    // canvasContext.rotate( ((2*Math.PI)/60) * time.getSeconds() + ((2*Math.PI)/60000) * time.getMilliseconds() );\n\n}","output":"str","x":550,"y":400,"wires":[["efd0b334.700ac"]]},{"id":"a2d2641366fb8be4","type":"function","z":"2e387e02.e724b2","name":"mainDirectoryCheck","func":"const path = global.get(\"path\")\nmsg.path = msg.payload?.path\n\nconst mainDirectory = global.get(\"mainDir\")||\"./public\"\nconst dir = msg.path\nfunction mainDirectoryCheck(parent,dir){\n     const relative = path.relative(parent, dir);\n    const isSubdir = relative && !relative.startsWith('..') && !path.isAbsolute(relative);\n    return (isSubdir||parent == dir)?true:false;\n}\nmsg.check = mainDirectoryCheck(mainDirectory,dir)\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":560,"wires":[["6d8647ebcec80334"]]},{"id":"c31622b2bfd828bd","type":"http in","z":"2e387e02.e724b2","name":"","url":"/musicvisualizer/folder","method":"get","upload":false,"swaggerDoc":"","x":190,"y":560,"wires":[["a2d2641366fb8be4"]]},{"id":"6d8647ebcec80334","type":"switch","z":"2e387e02.e724b2","name":"","property":"check","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":560,"wires":[["eb2571f7f1197971"],["fccd633154ec903a"]]},{"id":"eb2571f7f1197971","type":"subflow:442f82fa.b1dd6c","z":"2e387e02.e724b2","name":"","env":[{"name":"setFolder","value":"./public/music/nocopys","type":"str"},{"name":"setRecursive","value":"false","type":"bool"}],"x":920,"y":540,"wires":[["8bc1263f189271e8"]]},{"id":"fccd633154ec903a","type":"http response","z":"2e387e02.e724b2","name":"","statusCode":"401","headers":{},"x":900,"y":580,"wires":[]},{"id":"8bc1263f189271e8","type":"http response","z":"2e387e02.e724b2","name":"","statusCode":"","headers":{},"x":1090,"y":540,"wires":[]},{"id":"c7616b8398c925c6","type":"comment","z":"2e387e02.e724b2","name":"1st Code version","info":"","x":120,"y":40,"wires":[]}]